<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Express</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
</head>
<body class="bg-primary">
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="card m-5 px-5 py-3">
            <a href="/login"><i class="bi bi-arrow-left fs-2"></i></a>
            <h1 class="title">
                Cadastre-se
            </h1>
            <form id="formCandidato" action="/candidato/cadastro" method="post" enctype="multipart/form-data" th:object="${candidatoDto}">
                <div class="mb-3">
                    <label class="form-label" for="nome">Nome</label>
                    <div class="input-group row">
                        <span class="input-group-text col-1"></span>
                        <input
                                id="nome"
                                required="required"
                                class="input form-control input-lg col"
                                aria-describedby="basic-addon3 basic-addon4"
                                th:field="*{nome}"
                                type="text"
                        />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">E-mail</label>
                    <div class="input-group row">
                        <span class="input-group-text col-1">@</span>
                        <input
                                id="email"
                                required="required"
                                class="input form-control input-lg col"
                                aria-describedby="basic-addon3 basic-addon4"
                                th:field="*{email}"
                                type="email"
                        />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Escolaridade</label>
                    <div class="input-group row">
                        <span class="input-group-text col-1"></span>
                        <select
                                class="input form-control input-lg col"
                                id="escolaridade"
                                required="required"
                                th:field="*{escolaridade}"
                        >
                            <option value="">
                                Selecione sua escolaridade
                            </option>
                            <option
                                    th:each="escolaridade : ${escolaridades}"
                                    th:text="${escolaridade.getDescricao()}"
                                    th:value="${escolaridade.ordinal()}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="telefone">Telefone</label>
                    <div class="input-group row">
                        <span class="input-group-text col-1"><i class="bi bi-telephone-fill"></i></span>
                        <input
                                id="telefone"
                                required="required"
                                class="input form-control input-lg col"
                                aria-describedby="basic-addon3 basic-addon4"
                                data-mask="(00) 00000-0000" data-mask-selectonfocus="true"
                                th:field="*{telefone}"
                                type="text"
                        />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="senha">Currículo</label>
                    <div class="input-group row">
                        <span class="input-group-text col-1"></span>
                        <input
                                id="curriculo"
                                required="required"
                                accept=".doc,.docx,.pdf"
                                class="input form-control input-lg col"
                                aria-describedby="basic-addon3 basic-addon4"
                                th:field="*{curriculo}"
                                type="file"
                        />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="senha">Senha</label>
                    <div class="input-group row">
                        <span class="input-group-text col-1"><i class="bi bi-lock-fill"></i></span>
                        <input
                                id="senha"
                                required="required"
                                class="input form-control input-lg col"
                                aria-describedby="basic-addon3 basic-addon4"
                                th:field="*{senha}"
                                type="password"
                        />
                    </div>
                </div>
                <div class="mb-3 row px-5">
                    <input type="submit" class="btn btn-primary fs-5 mb-1" value="Cadastrar">
                    <div class="row text-center">
                        <span>
                            <span
                            >Faz parte de uma empresa?</span
                            >
                            <a class="link" href="/empresa/cadastro">
                                Registre-se aqui
                            </a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script>
    document.getElementById('formCandidato').addEventListener('submit', function(event) {
        const fileInput = document.getElementById('curriculo');
        const filePath = fileInput.value;
        const allowedExtensions = /(\.doc|\.docx|\.pdf)$/i;
        const maxSizeInBytes = 1 * 1024 * 1024; // 1MB in bytes

        if (!allowedExtensions.exec(filePath)) {
            alert('Por favor, envie um arquivo com as extensões .doc, .docx ou .pdf.');
            fileInput.value = '';
            event.preventDefault();
        } else if (fileInput.files[0].size > maxSizeInBytes) {
            alert('O arquivo deve ter no máximo 1MB.');
            fileInput.value = '';
            event.preventDefault();
        }
    });
</script>
</body>
</html>