<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Express</title>
</head>
<body>
<form
        action="/empresa/" method="post" th:object="${usuarioDto}">
    <label class="label" for="nome">Nome completo</label>
    <input
            id="nome"
            class="input"
            placeholder="João da Silva"
            th:field="*{nome}"
            type="text"
    />
    <label class="label" for="email">E-mail</label>
    <input
            id="email"
            class="input"
            placeholder="João da Silva"
            th:field="*{email}"
            type="email"
    />
    <label class="label" for="telefone">telefone</label>
    <input
            id="telefone"
            class="input"
            placeholder="João da Silva"
            th:field="*{telefone}"
            type="text"
    />
    <label class="label" for="senha">Senha</label>
    <input
            id="senha"
            class="input"
            placeholder="João da Silva"
            th:field="*{senha}"
            type="text"
    />
    <label class="label" for="cnpj">Cnpj</label>
    <input
            id="cnpj"
            class="input"
            placeholder="João da Silva"
            th:field="*{cnpj}"
            type="text"
    />
    <input type="submit" value="Cadastrar">
</form>
</body>
</html>